@page "/Combo/Create"
@using LiamellCruz_Ap1_P2.Models
@using LiamellCruz_Ap1_P2.Service
@inject ComboService comboService
@inject ArticuloService articuloService
@inject ComboDetalleService combodetalleService
@inject NavigationManager navigationManager
@rendermode InteractiveServer


@*HTML*@
<PageTitle>Create</PageTitle>
<EditForm Model="Combo" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header">
                <h5 class="card-title">Crear Combo</h5>
            </div>

            @*Body*@
            <div class="card-body">

                @*Id*@
                <div class="mb-3">
                    <label class="form-label ms-4"><strong>ComboId</strong></label>
                    <InputNumber class="form-control"
                                 @bind-Value="Combo.ComboId" readonly></InputNumber>
                </div>

                @*Fecha*@
                <div class="mb-3">
                    <label class="form-label ms-4"><strong>Fecha</strong></label>
                    <InputDate class="form-control" @bind-Value="Combo.Fecha"></InputDate>
                </div>

                @*Descripcion*@
                <div class="mb-3">
                    <label class="form-label ms-4"><strong>Descripci&oacute;n</strong></label>
                    <InputText class="form-control" @bind-Value="Combo.Descripcion"></InputText>
                </div>

            </div>
            @*Footer*@
            <div class="card-footer text-center mt-2">
                <a href="/Combo/Index" class="btn btn-secondary"> <span class="bi bi-arrow-left"></span> Volver</a>
                <button type="submit" class="btn btn-success bi bi-floppy-fill"></button>

            </div>
        </div>

        
    </div>
</EditForm>




@code {

     public Combo Combo { get; set; } = new Combo();
    public List<Articulo> ListaArticulo { get; set; } = new List<Articulo>();
    public ComboDetalle ComboDetalle { get; set; } = new ComboDetalle();

    protected override async Task OnInitializedAsync()
    {
        ListaArticulo = await combodetalleService.Listar(a => a.ArticuloId > 0);
    }

    public async Task Guardar()
    {
        var creado = await comboService.Guardar(Combo);

        if (creado)
        {
           
            navigationManager.NavigateTo("/Combo/Index");
        }
        
    }

    private async Task AgregarArticulo((Articulo articulo, int cantidad) selection)
    {

        var articuloExistente = Combo.ComboDetalle
            .FirstOrDefault(d => d.ArticuloId == selection.articulo.ArticuloId);

        if (articuloExistente != null)
        {
            articuloExistente.Cantidad += selection.cantidad;
            articuloExistente.Costo = articuloExistente.Articulo.Costo * articuloExistente.Cantidad;
        }
        else
        {
            var Detalle = new ComboDetalle
                {
                    ArticuloId = selection.articulo.ArticuloId,
                    Cantidad = selection.cantidad,
                    Articulo = selection.articulo,
                    Costo = selection.articulo.Costo * selection.cantidad,
                    ComboId = Combo.ComboId
                };

            Combo.ComboDetalle.Add(Detalle);
        }

        ComboDetalle = new ComboDetalle();
        await Task.CompletedTask;
}
}